body{font-family:"verdana", sans-serif;
margin:0}
span{color:orange;}
.para{padding-bottom:30px;}
.link-button{text-decoration:none; color:white; padding:10px;
background-image:linear-gradient(orange,tomato);
border-radius:20px;}
.box{display:flex;}
.haif-width{width:50%; padding-left:80px;padding-top:80px;}
.haif-width img{width:80%;}


.back{background-image:url(img/7.png);}

.hwidth{width:50%;padding-left:130px;padding-top:80px}
.text{padding-top:150px;padding-right:50px;padding-left:10px; padding-bottom:30px}

 
.button{text-decoration:none; color:white; padding:15px;
background-image:linear-gradient(orange,tomato);
border-radius:20px;}



.introduce{text-align:center}
.box{
	
width:100%;
display:flex;
flex-wrap:warp;	
justify-content:space-around;
	
	
}
.card{
box-shadow:1px 1px 3px gray;
width:350px;
text-align:center;
margin-top:30px;
padding:15px;
border-radius:20px;

}



.card img{
width:100%;
}
.txt{
padding:10px;
background-color:#fff;
margin-:0px
} 
